.DS_Store

target/
classes/
pom.xml
pom.xml.asc
**/.cpcache/
**/.clj-kondo/.cache/
**/.clj-kondo/imports/
**/.lsp/.cache/
.nrepl-port
**/.nrepl-port

node_modules/
**/.shadow-cljs/
apps/web/public/js/
apps/mobile/app/
apps/desktop/dist/
apps/desktop/src-tauri/target/
apps/desktop/src-tauri/gen/

.expo/
*.keystore
!debug.keystore

.env
.env.*
!.env.dist

/dist
*.log
apps/api/target/
