{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.6"}
        app/shared {:local/root "../../packages/shared"}
        metosin/reitit {:mvn/version "0.10.1"}
        metosin/muuntaja {:mvn/version "0.6.12"}
        ring/ring-core {:mvn/version "1.15.5"}
        ring/ring-jetty-adapter {:mvn/version "1.15.5"}
        integrant/integrant {:mvn/version "1.0.1"}
        org.mongodb/mongodb-driver-sync {:mvn/version "5.11.1"}
        buddy/buddy-sign {:mvn/version "3.6.1-359"}
        buddy/buddy-hashers {:mvn/version "2.0.167"}
        com.taoensso/timbre {:mvn/version "6.8.0"}
        aero/aero {:mvn/version "1.1.6"}}
 :aliases
 {:dev {:extra-paths ["dev" "test"]
        :extra-deps {app/api-sdk {:local/root "../../packages/api-sdk"}
                     integrant/repl {:mvn/version "0.5.1"}
                     org.clojure/tools.namespace {:mvn/version "1.5.1"}
                     nrepl/nrepl {:mvn/version "1.7.0"}
                     cider/cider-nrepl {:mvn/version "0.62.2"}}}
  :test {:extra-paths ["test"]
         :extra-deps {app/api-sdk {:local/root "../../packages/api-sdk"}
                      lambdaisland/kaocha {:mvn/version "1.91.1392"}}
         :main-opts ["-m" "kaocha.runner"]}
  :build {:extra-paths ["."]
          :extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.14"}}
          :ns-default build}}}
